body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.single-page-container {
    height: 100vh;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1#page-title {
    height: 50px;
    margin-top: 50px;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-top: 20px;
    height: 85vh;
    overflow-y: auto;
    border-radius: 8px;
}

#characters::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
}

/* Styling the scrollbar thumb (draggable part) */
#characters::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D40000; /* Star Wars red */
    border: 2px solid #550000; /* Darker shade of red for border */
}

/* Handle hover effect for the scrollbar thumb */
#characters::-webkit-scrollbar-thumb:hover {
    background-color: #BF0000; /* A slightly darker red when hovered */
}

/* Optional: styling the scrollbar width */
#characters::-webkit-scrollbar {
    width: 8px;
}

#containerId {
    height: 80px;
    color: #fff;
    font-size: 18px;
    line-height: 80px;
}

.character {
    height: 125px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: #222;
}

#character-details {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#character-details p {
    margin: 15px 0;
}

#character-details ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 35px;
}

#character-details ul li {
    text-decoration: underline;
    margin-bottom: 5px;
}

.image-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    background-color: black;
}

.image-container img {
    max-width: 105%;
    max-height: 105%;
    display: block;
    margin: 0 auto;
}

.back-button {
    position: relative;
    top: 15px;
    left: 15px;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}